* {
    box-sizing: border-box;
    margin: 0;
}

html { 
    background: url('../../Project-1-Lab/85326.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Orbitron', sans-serif;
  }

  .modal {
    color:white;
    font-family: 'Orbitron', sans-serif;
    font-size: large;
    background-image: url('../../Project-1-Lab/portal\ gun\ rick\ and\ morty.png');
  }

  #inputField {
    color:   white;
    font-family: 'Orbitron', sans-serif;
    max-width: fit-content;
    font-size: 20px;
  }


  #findButton {
    color: black;  
    background-color: rgba(3, 243, 43, 0.904);
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
  }


  form {
    display: flex;  
    justify-content: center;
    align-items: flex-start;
  }

